body{
    margin:0;
    min-width: 1400px;
}
header{
    background-color:rgb(233, 233, 233,0.5);
    padding: 10px 0 10px 0;
    margin: 0;
    display: flex;
    justify-content: space-between
}
.content{
    padding:16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 102px;
}
h1{
    color: #191919;
}
.headerLogo{
    background: url('./icons/logo.png');
    width: 31px;height: 25px;  
    margin-left: 100px;
}
.headerText{
    margin-bottom: 0;
    padding: 0 46px 0 0px;
    display: block;
    justify-content: space-around;
}
.headerText a{
    text-decoration: none;
    color: inherit;
}
.headerTask{
    font-family: 'Montserrat';
    margin: 0 32px 0 0;
    font-size: 13pt;
    float: right;
}
.headerTask span{
    color:#10c9c3;
}
.container{
    font-family: 'Montserrat';
}
.banner{
    background:#e9e9e9;
    padding: 140px 0 580px 0;
}
.bannerText{
    float: right;
    margin-right: 120px;
}
.bannerText p{ 
    width: 600px;
    font-size: 15pt;
    line-height: 2em;
    color: #787878;
}
.bannerHeadline{
    margin-right: 130px;
    font-size: 28pt;
}
.bannerButton {
    background-color: #10c9c3; 
    border: none;
    color: white;
    padding: 21px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.about{
    margin: 100px auto 0 auto;
    width: 680px;
    font-size: 13pt;
    text-align: center;
    line-height: 2em;
}
.aboutText{
    color: #787878;
}
.aboutSignature{
    background:url('./icons/signature.png')  no-repeat;
    width: 233px; height: 57px;
    margin: 40px auto 100px auto;
}
.skill{
    display: flex;
    justify-content:space-between;
}
.skillHeadline{
    font-size:25pt;
    margin: 120px 0 40px 0px;
}
.skillContent p {
    margin-left: 120px;
}
.skillContent{
    background-color:#f8f9f9;
    width: 50%;
    box-sizing:border-box;
    padding-bottom: 70px;
}
.skillImg{
    width: 50%;
    background-color: #e9e9e9;
}
.skillScale{   
    margin-left: 120px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #d8d8d8;
}
.skillBar{
    padding: 2px 0 2px 0;
}
.firstBar{
    width: 75%;
    background-color:#10c9c3;
}
.secondBar{
    width: 90%;
    background-color:#10c9c3;
}
.thirdBar{
    width: 65%;
    background-color:#10c9c3;
}
.stats{
    background-color:#10c9c3;
    display: flex;
    justify-content:space-around;
    color: white;
}
.statsInfo{
    margin:70px 0 50px 0;
}
.statsTitle{
    margin-left: 15px;
    line-height:30px ;
    display: inline-block;
    font-size: 18pt;       
    text-transform: uppercase;
}
.statsText{
    font-family: 'Montserrat'; 
    font-size: 13pt;
    text-transform: uppercase;
}
.work{
    display: flex;
    flex-wrap: wrap;
}
.workBox{
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    height: 320px;
    color: white;
}
.workGray{
    background-color:#838383;
}
.workBox:hover{
    background-color:#252525;
}
.hide{
    visibility: hidden;
}
.workMore{
    background: #f5f5f5;
    color:#959595;
    padding: 30px 0;
    text-align: center;   
}
.workProcess{
    display: flexbox;
    justify-content: center;
    align-items:center;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 100px;
}
.workProcessTitle{
    color: #787878;
    margin: auto;
    width: 50%;
    line-height: 1.8em;
    margin-bottom: 70px;
    font-size: 13pt;
}
.workVideo{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 1000px;
    height: 500px;
    background-color: #e9e9e9;
    margin: auto;
}
.workVideo button{
    padding: 0;
    background: none;
    border:none;
    outline: none;
}
.workVideoIcon1{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #10c9c3;
    width: 100px; height: 100px;
    border-radius: 50%;
}
.workVideoIcon2{
    margin-left: 8px;
    width: 40px;height: 40px;
    box-sizing:border-box;
    border-style: solid;
    border-width: 20px 0px 20px 40px;
    border-color: transparent transparent transparent white ;
}
.service{
    background-color:#f5f5f5;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding:70px 0 30px 0;
    color: #656565;
    
}
.serviceBlock{
    margin: 0 40px 0 40px;
    line-height: 1.5em;
}
.serviceText{
    color: black;
}
.Testimonials{
    background-color:#10c9c3;
    padding: 100px 0;
    color: white;
}
.TestimonialsBlock{
    margin: auto;
    display: block;
    width: 50%;
    text-align: center;
}
.TestimonialsText{
    margin-bottom: 80px;
    font-size: 17pt;
    line-height: 1.5em;
}
.slideText{
    display: none;
}
.switcher{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 90px;
}
.slider{
    cursor: pointer;
    margin: 0px 5px;
    background-color:white;
    width: 10px;height: 10px;
    border-radius:50%;
    opacity: 70%;
}
.active, .slider:hover {
    background-color: #717171;
  }
.clients{
    margin: 70px 0 70px 0 ;
    display: flex;
    justify-content: space-around;
}
.Project{
    padding-top: 70px;
    background-color:#f5f5f5;
    text-align: center;
    
}
.Project p {
    line-height: 1.6em;
    color: #787878;
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
}
.ProjectForm{
    margin: auto;
    width: 800px;
}
.formLine1{
    font-size: 15pt;
    padding: 0px 0px 0 10px;
    margin: 0 0px 30px 0px;
    width: 320px;
    height: 50px;
    border:none;
}
::placeholder {
    text-indent: 15px;
    color:#787878;
    font-size: 14pt;
  }
.ProjectFormTitle{
    font-size: 15pt;
    padding: 0px 0px 0 10px;
    width: 655px;
    border:none;
    height: 50px;
    margin-bottom: 30px;
}
.ProjectForm textarea{
    font-size: 15pt;
    padding: 10px 0px 0 10px;
    width: 655px;
    height: 170px;
    resize: none;
    border:none;
    font-family: montserrat;
    margin-bottom: 30px;
}
.Project input[type="submit"]{
    font-family: montserrat;
    font-size: 12pt;
    color: #ffffff;
    border:none;
    height: 55px;
    width: 180px;
    background-color:#10c9c3;
    margin-bottom: 40px;
}
.footer{
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
    background-color:black;
    color: white;
    margin: 0;
    padding: 80px 80px;
}
.footerRights{
    width: 300px;
    line-height: 1.8em;
    color: #bcbcbc;
}
.footerRights span {
    font-size: 15pt;
    color: white;
    font-weight: bold;
}
footer ul{
    color:#bcbcbc;
    line-height: 1.8em;
    margin: 0 ;
    list-style-type: none;
}
.footerAbout{
    columns: 2;
}
.footerContact{
    float: right;
}